{% extends 'base.html' %}
{% block content %}
<section class="search">
	<div class="wrapper">
		<form action="{% url 'search_results' %}" method="GET">
			<input type="text" id="search" name="q" placeholder="What are you looking for?"  autocomplete="off"/>			
		</form>
		<a href="#" class="advanced_search_icon" id="advanced_search_btn"></a>
	</div>

	</div><!--  end advanced search section  -->
</section><!--  end search section  -->
	<section class="listings">

		<div class="wrapper">
			{% for posts in post_list %}
			<ul class="properties_list">
				<li>
					<a href="post/{{ posts.id }}">
						<img src="{{ posts.image.url }}" alt="" title="" class="property_img"/>
					</a>
					<div class="property_details">
						<h1>
							<a href="post/{{ posts.id }}">{{ posts.title }}</a>
						</h1>
						<h2>{{ posts.date_pub }}<span class="property_size">{{ posts.category }}</span></h2>
					</div>
				</li>				
			</ul>
			{% endfor %}


			<div class="more_listing">
				<a href="#" class="more_listing_btn">View More Listings</a>
			</div>
		</div>
	</section>	<!--  end listing section  -->
{% endblock %}