<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обьявление номер {{ post.id }}</title>
</head>
<body>
    <p>{{ post.title }}</p>
    <p><a href="">{{ post.author }}</a></p>
    <p>{{ post.date_pub }}</p>
    <img src="{{ post.image.url }}" alt="">
    <p>{{ post.description }}</p>
    <p>{{ post.category }}</p>
    <p>Like {{ post.likes.count }}</p>
    <form action="{% url 'like_post' post.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
    {% if post.author == user %}
        <a href="{% url 'post_edit' post.id %}">Редактировать пост</a>
        {% endif %}
    {% if post.author == user %}
        <a href="{% url 'post_delete' post.id %}">Удалить объявление</a>
        {% endif %}
        <div>
            <ul>
                {% for comment in comments %}
                    <li><a href="">
                        <p><a href="">{{ comment.author }}</a></p>
                        <p>{{ comment.date_publish }}</p>
                        <p>{{ comment.text }}</p>
                    </li>
                {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit">Отправить комментарий</button>
            </form>
        </div>
</body>
</html>