<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание объявления</title>
</head>
<body>
    {% if post_with_errors %}
        <p>Исправьте ошибки</p>
    {% endif %}

    {% if posr_was_created %}
        <p>Пост был создан</p>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Создать пост </button>
    </form>
</body>
</html>