{% extends 'base.html' %}

{% block content %}
    <article>
        <h3>Регистрация</h3>
        <hr>

        {% if not registered %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <h3>{{ field }}</h3>
                    {% if field.errors %}
                        <ul>{{ field.errors }}</ul>
                    {% endif%}
                {% endfor %} 
            <button type="submit">Регистрация</button>
            </form>
        {% else %}
            <h3>Вы успешно прошли регистрацию</h3>
            <a href="{% url 'login' %}">Войти</a>
            {% endif %}
    </article>
{% endblock %}