{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Заголовок</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" media="all">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all">

	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="" titl=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					{% if request.user.id == None %}
					<ul>
						<li><a href="{% url 'login' %}">Войти на аккаунт</a></li>
						<li><a href="{% url 'signup' %}">Зарегистрировать аккаунт</a></li>
					</ul>
					<a href="{% url 'index' %}" class="login_btn">Главная страница</a>
					{% else %}
					<ul>
						<li><a href="{% url 'post_create' %}">Создать объявление</a></li>
						<li><a href="{% url 'update_profile' user.id %}">Обновить профиль</a></li>
						<li><a href="{% url 'profile' user.id %}">{{ request.user }}</a></li>
						<li><a href="{% url 'logout' %}">Выйти</a></li>
					</ul>
					<a href="{% url 'index' %}" class="login_btn">Главная страница</a>
					{% endif %}
				</nav>
			</div>
		</header><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">Бесплатные объявления. Доска объявлений</h2>
				<h3 class="properties">Недвижимость, Транспорт, Работа, Услуги, Вещи</h3>
			</section>
	</section><!--  end hero section  -->

    {% block content %}
        
    {% endblock %}
	

	<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Policy</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">Appartements</a></li>
						<li><a href="#">Houses</a></li>
						<li><a href="#">Villas</a></li>
						<li><a href="#">Mansions</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">New York</a></li>
						<li><a href="#">Los Anglos</a></li>
						<li><a href="#">Miami</a></li>
						<li><a href="#">Washington</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="about">
					<p>La Casa is real estate minimal html5 website template, designed and coded by pixelhint, tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum</p>
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="copyrights wrapper">
			Copyright © 2015 <a href="http://pixelhint.com" target="_blank" class="ph_link" title="Download more free Templates">Pixelhint.com</a>. All Rights Reserved.
		</div>
	</footer><!--  end footer  -->
	
</body>
</html>